.purple {
  background-color: rgb(187, 18, 72);
  width: 60%;
  margin: auto;
  padding: 80px;
}
.pink {
  background-color: rgb(116, 36, 48);
  padding: 40px;
  color: white;
}
input[type="submit"] {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  font-weight: bold;
}
