table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border: solid .5px rgb(138, 137, 137);
}
  
th, td {
    text-align: left;
    padding: 8px;
    
}
  
tr:nth-child(odd) {
    background-color: rgb(165, 169, 165);
}
th{
    background-color: rgb(22, 199, 69);
    color: white;
}